#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}


.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 5px;
  background-color: #20a084;
  transition: width 0.3s ease-in-out;
}

.hover-underline:hover::after {
  width: 100%;
}

.hover-fill {
  position:relative;
  background: transparent;
  border: 2px solid;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease-out;
}

.hover-fill::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--hover-fill-color, #20a084);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
  border-radius: inherit;
}

.hover-fill:hover::before {
  transform: scaleX(1);
}

.hover-fill:hover {
  color: #ebdfcf;
}